*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root{
  --color-primary: #1F64BF;
  --color-white: #f5f5ff;
  --color-bg-component: #272733;
}

body{
  background: #101015;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 960px){
  html{
    width:100vw;
    overflow-x:hidden;
  }
}

fieldset{
  border: unset;
}


::-webkit-scrollbar {
  width: 16px;
  background: #353539;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner{
  height: 0px;
  width: 0px;
  overflow: hidden;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #606065;
  border: 4px solid #353539; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #90909f;
}

input:focus, textarea:focus{
  border-color: #50507a
}