*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

:root{
  --color-primary: #1F64BF;
  --color-white: #f5f5ff;
  --color-bg-component: #202028;
}

body{
  background: #101015;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
}